@mixin hl-variant($name, $color: inherit) {
  .hl-#{$name} {
    background-color: unset;
    font-weight: bold;
    color: $color;
  }
}

/* Meta */
@include hl-variant("cast");

/* Role */
@include hl-variant("tank", #5462bd);
@include hl-variant("healer", #70b04f);
@include hl-variant("support", #628986);
@include hl-variant("dps", #b64f4b);

/* Elemental */
@include hl-variant("light", #ded28a);
@include hl-variant("dark", #8a19a3);
@include hl-variant("fire", #d4360e);
@include hl-variant("ice", #9ccedc);
@include hl-variant("electric", #aa27bb);
