@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-hex: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-hex: #00171f;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
