@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #ffffff;
  --background-hex: #00171f;
}

body {
  color: var(--foreground-hex);
  background-color: var(--background-hex);
}

@media (width >= 120rem) {
  body {
    background-image: linear-gradient(to right, #000d12, var(--background-hex) 10%, var(--background-hex) 90%, #000d12);
  }
}

@media (width >= 150rem) {
  body {
    background-image: linear-gradient(to right, #000d12, var(--background-hex) 20%, var(--background-hex) 80%, #000d12);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

span.icon-link::before {
  content: '#';
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease;
  margin-left: 0.5rem;
}

.toc li {
  margin-top: 1rem;
}

.toc a {
  padding: 0.75rem;
}

.toc a:hover {
  border-radius: 0.375rem;
  color: white;
  background-color: rgba(71, 85, 105, 0.1);
}

.toc-links {
  transition: color 0.1s ease;
  transition: background-color 0.1s ease;
  color: rgb(226 232 240);
  padding: 0.5rem;
  text-decoration: none;
}

.toc-current {
  transition: color 0.2s ease;
  color: rgb(108, 177, 255);
  border-radius: 0.375rem;
}

.toc-current:hover {
  color: rgb(96 165 250) !important;
}

h1:hover span.icon-link::before,
h2:hover span.icon-link::before,
h3:hover span.icon-link::before {
  opacity: 1;
}
